body{
    font-family: 'Poppins', sans-serif;
    background-color: #ebf3fc;
    color: #212529;
    background-image: url(/assets/images/L.jpg);
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    background-size: contain; /* 背景圖片覆蓋整個頁面 */
    background-attachment: fixed; /* 固定背景圖片 */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

p,span,strong{
    letter-spacing: 0.05em;
    line-height: 1.5;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.06em;
    line-height: 1.2;
}