<div class="navbar navbar-expand-lg">
  <header class="container d-flex align-items-center justify-content-between py-3 mb-4 border-bottom">
    <!-- Logo -->
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img src="/assets/images/logo.svg" alt="落點分析" height="40">
    </a>

    <!-- 漢堡菜單按鈕 -->
    <button class="navbar-toggler d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 導航欄 -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="fw-bold d-flex">
        <li><a href="#" class="nav-link px-4 link-dark">我的志願</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">升學資訊</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">落點分析</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">如何準備</a></li>
        <li><a href="#" class="nav-link px-4 link-dark">Q&A</a></li>
      </ul>
    </div>

    <!-- 登入/註冊 -->
    <div class="text-end d-none d-md-block">
      <button type="button" class="btn text-primary fw-bold p-0">登入</button>
      <span class="text-dark mx-2">|</span>
      <button type="button" class="btn p-0 text-dark">註冊</button>
    </div>
  </header>
</div>
