.main-container {
  background-image: url("/assets/images/gate.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}
/* 按鈕間距 */
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
