<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container my-lg-50 position-relative">
      <img
        src="../assets/images/deco/flower-2.png"
        class="position-absolute"
        style="width: 560px; z-index: -1; top: -100px; left: -400px"
        alt=""
      />
      <div class="section row">
        <div class="col-lg-4 mt-lg-40">
          <h2 class="fs-lg-10 fw-bold">火熱募資課程</h2>
          <h5 class="fs-lg-3 fw-bold">現在購買最優惠✨</h5>
          <ul class="p-0 d-flex flex-wrap gap-4 mt-lg-10">
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                全部
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🍽️ 烹飪料理
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                📊 數據分析
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🎼 音樂製作
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                📝 創意寫作
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                💬 語言學習
              </button>
            </li>
            <li>
              <button
                type="button"
                class="btn btn-outline-primary fs-3 px-4 py-3"
              >
                🖌️ 藝術創作
              </button>
            </li>
          </ul>
          <button type="button" class="btn btn-primary fs-3 px-8 py-4">
            更多募資課程
          </button>
        </div>
        <div class="col-lg-8">
          <div class="row row-cols-1 row-cols-md-2 g-6">
            <div class="col">123</div>
            <div class="col">123</div>
            <div class="col">123</div>
            <div class="col">123</div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
